<!-- article_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Articles</title>
</head>
<body>
    <h2>Liste des Articles</h2>
    <ul>
        {% for article in articles %}
            <li>{{ article.name }} - {{ article.price }} - {{ article.color }}
                <a href="{% url 'delete_article' article.id %}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Ajouter un nouvel article</h2>
    <form method="post" action="{% url 'article_list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter l'article</button>
    </form>
</body>
</html>
